body {
    background: url(https://images.pexels.com/photos/1694000/pexels-photo-1694000.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
}


a:hover {
    background-color: white;
}

a {
    margin-left: 250px;
}

h2 {
    color: purple;
    margin-top: 100px;
    text-align: center;
    font-weight: 700;

    
}